<div class="login-page d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Login </h3>
                        <h3 class="card-title text-center">email in store {{ email$ }} </h3>
                        <h3 class="card-title text-center">password in store {{ password$ }} </h3>
                        
                        <div class="mb-3">
                            <label>Correo</label>
                            <input type="text" [(ngModel)]="email" class="form-control" name="correo" />
                        </div>
                        <div class="mb-3">
                            <label>Contraseña</label>
                            <input type="password" [(ngModel)]="password" class="form-control" name="clave" />
                        </div>
                        <div class="mb-3 d-grid gap-2">
                            
                            <button type="button" class="btn btn-success" [disabled]="loading" (click)="login()">
                                <div *ngIf="loading">Cargando...</div>
                                <div *ngIf="!loading">Iniciar Sesión</div>
                            </button>

                            <div *ngIf="errorMessage">
                                <div class="alert alert-danger">
                                    {{errorMessage}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>